.ExercisesPage {
  background-color: #191919;
  color: white;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/*_______________________________TITULO DE LA PAGINA______________________________*/

.ExercisesPage h1 {
  font-size: 38px;
  margin-bottom: 30px;
}
/*_______________________________TITULO DE LA PAGINA______________________________*/

/*_____________________________FILTRO DE LOS MUSCULOS______________________________*/
.filter-container {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
}

/* Botón de filtro */
.btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: #d1f61d; /* Fondo amarillo brillante */
  color: #313538; /* Texto oscuro */
  cursor: pointer;
  padding: 10px;
}

.btn:hover {
  background-color: #b2d617; /* Tono más oscuro de amarillo */
  box-shadow: 0 0 15px 0px #d1f61d; /* Efecto de sombra suave */
}

.btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}

.btn .text {
  transform: translateX(55px);
}

.btn:hover .icon {
  width: 130px;
  font-size: 28px;
}

.btn:hover .text {
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}

/* Estilo del menú desplegable */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  margin-top: 8px;
  padding: 8px 0;
  width: 100%;
}

.dropdown-item {
  background: none;
  border: none;
  padding: 8px 16px;
  text-align: left;
  width: 100%;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #d1f61d;
}

.dropdown-item.selected {
  font-weight: bold;
  background-color: #d1f61d;
}

/*_____________________________FILTRO DE LOS MUSCULOS______________________________*/

/*_____________________________CONTENEDOR DE LOS EJERCICIOS______________________________*/
.exercise-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px;
  width: 100%;
}
/*_____________________________CONTENEDOR DE LOS EJERCICIOS______________________________*/


/*___________________________________MEDIA QUERYS__________________________________*/
/*___________________________________550__________________________________*/
@media (max-width: 550px) {
  .ExercisesPage h1 {
      font-size: 30px;
  }
}

/*___________________________________470__________________________________*/
@media (max-width: 470px) {
  .exercise-list {
    gap: 10px;
  }
}


