.routine-page {
  background-color: #191919;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.content-routines {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  width: 90%;
  margin-top: 130px;
}

.content-routines h1 {
  font-size: 38px;
  color: #f9fafc;
}

.routine-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  padding-bottom: 60px;
}

/*--------------------------------------MEDIA QUERY---------------------------------------*/
@media (max-width: 730px) {
  .content-routines h1 {
    font-size: 35px;
  }
}

@media (max-width: 550px) {
  .content-routines h1 {
    font-size: 33px;
  }
}

@media (max-width: 480px) {
  .content-routines h1 {
    font-size: 26px;
  }
}
